.container{
    display: flex;
    gap:1vw;
    margin:2vw;
}

.image{
    width:50vw;
    height:auto;
    border-radius: 50px;
}

.description{
    width:50vw;
    height:auto;
    color:#B4B3B3;
    padding:3vw;
}

.thumbnail-image{
    width:100px;
    height:100px;
    padding:0 0.2vw;
}

.first{
    width:fit-content;
    overflow: hidden;
}

.slider{
    width:100px;
    height:100px;
    display: inline-block;
}

.thumb {
    background-size: contain;
    cursor: pointer;
    width: 80px;
    height: 80px;
  }

.play{
   display: flex;
   gap:10vw;
}

.slides{
    display: flex;
    align-items: start;
    padding:0 5vw;
}

.playing{
    width:10vw;
    height: 5vw;
    background-color: white;
    color:skyblue;
    border:none;
    font-size: 5rem;
}

.icon-only{
    border:none;
    background-color: white;
    font-size:3rem;
}
